<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			body {font-family: Arial;}
			.content {max-width: 800px; margin: 0px auto;}
		</style>
	</head>
	<body>
		<div class='content'>
			<h1>That's a 401</h1>
			<p>Tsk, tsk. You shouldn't be here.</p>
			<p>You might be looking for <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>this</a>.</p>
		</div>
	</body>
</html>