<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="styles/index.css">
	</head>
	<body>
		<div id="main">
			<h1>Virtus Foundry</h1>
			
			<section>
				<h2>Purpose</h2>
				<ol>
					<li>Add value to others</li>
					<li>Find perfect pitch</li>
					<li>BYOB: Be your own boss</li>
					<li>Get addicted to ambition</li>
					<li>Wake up early</li>
					<li>Improve everyday</li>
				</ol>
			</section>
			<section>
				<h2>Projects</h2>
				<ol>
					<li>AI Jax</li>
					<li>AI Consulting</li>
					<li>RLT Jax & St. Aug</li>
				</ol>
			</section>
			<!-- <section>
				<h2>KPIs</h2>
				<div id='metric-container'>
					<p><span class='metric-count'>22</span> emails</p>
					<p><span class='metric-count'>1</span> days in a row</p>	
				</div>
			</section> -->
		</div>
	</body>
</html>