<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles/index.css">
	</head>
	<body>
		<div id="main">
			<h1>hello world!</h1>
			<% if (error) { %>
				<p><%= error %></p>
			<% } else { %>
				<p>Events:</p>
				<p><span><%= count %></span> events</p>
			<% }%>
		</div>
	</body>
</html>