<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="styles/index.css">
	</head>
	<body>
		<div id="main">
			<h1>Virtus Foundry</h1>
			<% if (error) { %>
				<p><%= error %></p>
			<% } else { %>
				<p>Virtus Finance:</p>
				<p><span class='metric-count'><%= count %></span> clicks</p>
			<% }%>
		</div>
	</body>
</html>